
*{
    margin: 0;
    padding:0;
    box-sizing: 100%;
    
}
.seccion {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
    flex-flow: row wrap;
}

html{
    scroll-behavior: smooth;


}

#inicio{
    background-image: url(img/FONDO1.png);
    
}

#encode{
    background-image: url(img/FONDO2.png)
   
}

#decode{
    background-image: url(img/FONDO1.png)
    
}

#thanks{
    background-image: url(img/FONDO2.png);
}

.introName{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 140px;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 2px 4px 4px rgb(19, 0, 27)
}  
.name{
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    font-weight: 900;
    font-size: 140px;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 2px 4px 4px rgb(19, 0, 27)
}  

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 4px;
    text-shadow: 2px 4px 3px rgba(20, 0, 29, 0.459)
}

.descriptionPage{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 2px 4px 3px rgba(20, 0, 29, 0.459)
}

.outText{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: aliceblue;
    text-shadow: 2px 4px 3px rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    
}

.imagenStyle{
    height: 80%;
}

#imagenFinal{
    height: 70%;

}

.menu{
    width: 100%;
    height: 40px;
    background-color: rgb(87, 0, 87);
    position: fixed;
    bottom: 0;
    left: 0;
    
}

.menuButton{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.4em;
    width: 25%;
    display: block;
    float: left;
    cursor:pointer
}

.box{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 100px;
    border-radius: 15px 50px 30px;
    background-color: aliceblue;
    margin: auto;
    padding: 0;
    font-family:'Nunito', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    color: rgb(78, 10, 117);


}

.boxDesign{
    background-color: aliceblue;
     border-radius: 10px;
    border: 5px solid rgb(70, 0, 70);
    padding: 10px;
    font-family:'Nunito', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: rgb(2, 110, 56);



}

.descripLabel{
    font-family:'Nunito', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: aliceblue;
    text-shadow: 2px 4px 3px rgba(20, 0, 29, 0.459)

}
.boxDesignPurple{
    background-color: aliceblue;
     border-radius: 10px;
    border: 5px solid rgb(2, 110, 56);
    padding: 10px;
    font-family:'Nunito', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: rgb(70, 0, 70);;



}

.submit{
    background-color: rgb(70, 0, 70);
    color:aliceblue;
    border-radius: 20px;
    border-color: rgb(70, 0, 70); 
    width: 120px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    
}

.submitPurple{
    background-color: rgb(2, 110, 56);
    color:aliceblue;
    border-radius: 20px;
    border-color:  rgb(2, 110, 56) ;
    width: 120px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    
}

.textoDescripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 4px;
}


.botones{
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}

.shitfImput{
    border: 4px solid  rgb(70, 0, 70);
    border-radius: 15px;
    outline: none;
    background-color: aliceblue;
    color: rgb(2, 110, 56);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    height:40px ;
    width: 90px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
   

}

.shitfImputPurple{
    border: 4px solid  rgb(2, 110, 56);
    border-radius: 15px;
    outline: none;
    background-color: aliceblue;
    color: rgb(70, 0, 70);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    height:40px ;
    width: 90px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
   

}