

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
.seccion {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0 1.3em;
    align-items: center;
    flex-flow: row wrap;
   

}

.contCod{
    display: flex;
    width: 98%;
}
.seccionEncode{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    height: 100vh;
    align-items: center;
}

.seccionDecode{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    height: 100vh;
    align-items: center;
}

.seccionThanks{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    height: 100vh;
    align-items: center;
}

.row{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
}

html{
    scroll-behavior: smooth;


}

#inicio{
    background-image: url(img/FONDO1.png);
    
}

#encode{
    background-image: url(img/FONDO2.png)
   
}

#decode{
    background-image: url(img/FONDO1.png)
    
}

#thanks{
    background-image: url(img/FONDO2.png);
}

.boxAlign{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenedorTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.introName{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.9;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 5.7em;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 2px 4px 4px rgb(19, 0, 27);
    width: 97%;
   
}  
.name{
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    font-weight: 900;
    font-size: 6em;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 2px 4px 4px rgb(19, 0, 27);
    margin-bottom: -0.3em;
}  

.description{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 4px;
    text-shadow: 2px 4px 3px rgba(20, 0, 29, 0.459)
}

.descriptionPage{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 2px 4px 3px rgba(20, 0, 29, 0.459)
}

.outText{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: aliceblue;
    text-shadow: 2px 4px 3px rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    
}

.finalImage{
    width:12em
}

.imagenStyle{
   width:12em
}

.menu{
    width: 100%;
    height: 40px;
    background-color: rgb(87, 0, 87);
    position: fixed;
    bottom: 0;
    left: 0;
    
}

.menuButton{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 1.3em;
    width: 25%;
    display: block;
    float: left;
    cursor:pointer
}

.box{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 100px;
    border-radius: 15px 50px 30px;
    background-color: aliceblue;
    margin: auto;
    padding: 0;
    font-family:'Nunito', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    color: rgb(78, 10, 117);


}

.boxDesign{
    background-color: aliceblue;
    border-radius: 10px;
    border: 5px solid rgb(70, 0, 70);
    padding: 10px;
    font-family:'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgb(2, 110, 56);
    margin-left: 20px;
    margin-right: 20px;



}

.descripLabel{
    font-family:'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: aliceblue;
    text-shadow: 2px 4px 3px rgba(20, 0, 29, 0.459)

}
.boxDesignPurple{
    background-color: aliceblue;
     border-radius: 10px;
    border: 5px solid rgb(2, 110, 56);
    padding: 10px;
    font-family:'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgb(70, 0, 70);
    margin-left: 20px;
    margin-right: 20px;



}

.submit{
    background-color: rgb(70, 0, 70);
    color:aliceblue;
    border-radius: 20px;
    border-color: rgb(70, 0, 70); 
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    
}

.submitPurple{
    background-color: rgb(2, 110, 56);
    color:aliceblue;
    border-radius: 20px;
    border-color:  rgb(2, 110, 56) ;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
    
}

.textoDescripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 0.4em;
}


.botones{
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 99%;


}

.shitfImput{
    border: 4px solid  rgb(70, 0, 70);
    border-radius: 15px;
    outline: none;
    background-color: aliceblue;
    color: rgb(2, 110, 56);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    height:40px ;
    width: 90px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
   

}

.shitfImputPurple{
    border: 4px solid  rgb(2, 110, 56);
    border-radius: 15px;
    outline: none;
    background-color: aliceblue;
    color: rgb(70, 0, 70);
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    height:40px ;
    width: 90px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
   

}

@media screen and (max-device-width: 650px) {
    .row{
        flex-direction: column;
        padding-left: 2em;
        padding-right: 2em;
        
    }

    .introName{
        font-size: 10em;
    } 

    .description{
    
        font-size: 3.3em;
        margin-top: 1em;
        line-height: 1;
       
    }

    .textoDescripcion{
        font-size: 1.8em;
        padding-left: 1.4em;
        padding-right: 1.4em;
        line-height: 1.8em;
    }

    .imagenStyle{
        width:16em
     }
     .contCod{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5em;
        margin-bottom: 2em;
        margin-top: 4em;
    }
    .contenedorTexto{
        height: 70%;
        justify-content: space-around;
        text-align: center;
        width: 98%;
    
    }
     
.seccion{
    height: auto;
    padding-top: 6em;
    padding-bottom: 6em;
}
.botones{
    flex-direction: column;
    
}
.descripLabel{

    font-size: 3em;
flex-direction: column;
display: flex;
align-items: center;
}


.shitfImput{
    height:3em ;
    width: 60%;
    font-size: 0.8em;
    margin-bottom: 1em;
   

}

.shitfImputPurple{
    height:3em ;
    width: 60%;
    font-size: 0.8em;
    margin-bottom: 1em;
   

}

.seccionEncode {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    height:fit-content;
    align-items: flex-start;
    padding-top: 5em;
}


.boxDesign{
   
    padding: 1em;
    color: rgb(2, 110, 56);
    height: 20em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.boxDesignPurple{
    padding: 1em;
    height: 20em;
    margin-bottom: 1em;
    font-size: 1.2em;


}
textarea::placeholder {
    font-size: 1.2em;
  }

  .buttonsRow{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 7em;

  }
  .submit{
    
    width: 6em;
    height: 3em;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 2em;
    
}

.submitPurple{
    width: 6em;
    height: 3em;
    font-size: 2em;
    
}

.seccionDecode{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    height:fit-content;
    align-items: flex-start;
    padding-top: 5em;
}
.seccionThanks{
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2em;
    height: 100vh;
    align-items: center;
}
.outText{
    margin-top: 1.5em;
    font-size: 3em;
    padding-left: 1em;
    padding-right: 1em;
    
}
.mex{
    display: flex;
    flex-direction: column;
    justify-content:  center;
}

  }